# file: /etc/ufw/applications.d/wireguard
# Used to configure the ufw definition for wireguard vpn server

[wireguard]
title=Wireguard VPN Server
description=WireGuard is an extremely simple yet fast and modern VPN that utilizes state-of-the-art cryptography
ports=51820